<!-- Squares -->
<i class="far fa-object-ungroup"></i>
<!-- Keyboard -->
<i class="far fa-keyboard"></i>
<!-- Share -->
<i class="fas fa-share-alt"></i>
<!-- Trash -->
<i class="far fa-trash-alt"></i>
<!-- Twitter -->
<i class="fab fa-twitter"></i>
<!-- Linkdin -->
<i class="fab fa-linkedin-in"></i>
<!-- Github -->
<i class="fab fa-github-alt"></i>
<!-- Mail -->
<i class="far fa-envelope"></i>
<!-- Mobile -->
<i class="fas fa-mobile-alt"></i>
<!-- Card -->
<i class="far fa-address-card"></i>
<!--- angle-down -->
<i class="fas fa-angle-down"></i>
<!-- angle-up -->
<i class="fas fa-angle-up"></i>