<form
  action="/signup"
  method="post"
  class="form txt-fsec txt-sm txt-light"
  role="form"
>
  <fieldset class="form__design column">
    <div class="form__box js-form__box__button--design">
      <div class="form__box__item">
        <i class="far fa-object-ungroup icon-menu" aria-hidden="true"></i>
        <h2 class="form__box__title txt-lg" aria-label="Diseña">Diseña</h2>
      </div>
      <button class="form__box__button">
        <div class="form__box__button__left-bar"></div>
        <div class="form__box__button__right-bar"></div>
      </button>
    </div>
    <div class="form__color--container">
      <div class="form__color m-top">
        <label for="color1" class="form__label">Colores</label>
        <div class="form__color__box js-col0">
          <input
            type="radio"
            name="color"
            id="color1"
            class="form__color__input js-color0"
          />
          <div class="form__color__option js-color">
            <div class="form__color__first color-box"></div>
            <div class="form__color__second color-box"></div>
            <div class="form__color__third color-box"></div>
          </div>
        </div>
      </div>
      <div class="form__color">
        <label for="color1" class="form__label"></label>
        <div class="form__color__box js-col1">
          <input
            type="radio"
            name="color"
            id="color1"
            class="form__color__input js-color1"
          />
          <div class="form__color__option">
            <div class="form__color__fourth color-box"></div>
            <div class="form__color__fifth color-box"></div>
            <div class="form__color__sixth color-box"></div>
          </div>
        </div>
      </div>
      <div class="form__color">
        <label for="color1" class="form__label"></label>
        <div class="form__color__box js-col2">
          <input
            type="radio"
            name="color"
            id="color1"
            class="form__color__input js-color2"
          />
          <div class="form__color__option">
            <div class="form__color__seventh color-box"></div>
            <div class="form__color__eighth color-box"></div>
            <div class="form__color__nineth color-box"></div>
          </div>
        </div>
      </div>
      <div class="form__color">
        <label for="color1" class="form__label"></label>
        <div class="form__color__box js-col3">
          <input
            type="radio"
            name="color"
            id="color1"
            class="form__color__input js-color3"
          />
          <div class="form__color__option">
            <div class="form__color__tenth color-box"></div>
            <div class="form__color__eleventh color-box"></div>
            <div class="form__color__twelfth color-box"></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="form__fill column txt-dark bold">
    <div class="form__box js-form__box__button--fill">
      <div class="form__box__item">
        <i class="far fa-keyboard icon-menu" aria-hidden="true"></i>
        <h2 class="form__box__title txt-lg txt-light" aria-label="Rellena">
          Rellena
        </h2>
      </div>
      <button class="form__box__button">
        <div class="form__box__button__left-bar"></div>
        <div class="form__box__button__right-bar"></div>
      </button>
    </div>

    <div class="form__data">
      <div class="form__data__name m-top" aria-label="Nombre completo">
        <label class="form__data__label" for="name">Nombre completo</label>
        <input
          required
          class="form__data__input js-input-name js-intro-name"
          type="text"
          maxlength="20"
          value=""
          name="name"
          id="name"
          placeholder="Ej: Catrina de Guadalupe"
        />
      </div>
      <div class="form__data__job" aria-label="Puesto">
        <label class="form__data__label js-input-job" for="job">Puesto</label>
        <input
          required
          class="form__data__input js-intro-job"
          type="text"
          maxlenght="18"
          value=""
          name="job"
          id="job"
          placeholder="Ej: Calavera Garbancera"
        />
      </div>

      <div class="form__data__name" aria-label="Imagen de perfil">
        <label class="form__data__label" for="image">Imagen de perfil</label>
        <input
          class="form__data__image__input js__profile-upload-btn"
          type="file"
          name="image"
          id="image"
        />
        <div class="form__data__image__buttonsbox">
          <div class="form__data__btn">
            <button
              type="button"
              class="form__data__image__btn js__profile-trigger txt-sm txt-wh txt-fsec"
              aria-label="Añadir imagen"
            >
              Añadir imagen
            </button>
          </div>

          <div class="form__data__image__preview js__profile-preview"></div>
        </div>
      </div>
      <div class="form__data__name" aria-label="Contacto">
        <label class="form__data__label" for="email">Email</label>
        <input
          required
          class="form__data__input js-email js-intro-email"
          type="email"
          name="email"
          id="email"
          placeholder="Ej: catrina.guadalupe@gmail.com"
        />

        <label class="form__data__label" for="phone">Teléfono</label>
        <input
          class="form__data__input js-phone js-intro-phone"
          type="tel"
          name="phone"
          id="phone"
          placeholder="Ej: 01-11-55-55"
        />
        <label class="form__data__label" for="linkedin">Linkedin</label>
        <input
          required
          class="form__data__input js-linkedin js-intro-linkedin"
          type="text"
          name="linkedin"
          id="linkedin"
          placeholder="Ej: linkedin.com/in/catrina-guadalupe"
        />
        <label class="form__data__label" for="github">Github</label>
        <input
          required
          class="form__data__input js-github js-intro-github"
          type="text"
          name="github"
          id="github"
          placeholder="Ej: @catrina-guadalupe"
        />
      </div>
    </div>
  </fieldset>

  <fieldset class="form__share column">
    <div class="form__box js-form__box__button--share">
      <div class="form__box__item">
        <i class="fas fa-share-alt icon-menu" aria-hidden="true"></i>
        <h2 class="form__box__title txt-lg" aria-label="Comparte">Comparte</h2>
      </div>
      <button class="form__box__button">
        <div class="form__box__button__left-bar"></div>
        <div class="form__box__button__right-bar"></div>
      </button>
    </div>
    <div class="form__share--container">
      <button
        type="submit"
        class="form__share--button js-reset js-form__share--button txt-lg txt-wh txt-up txt-fsec"
        title="Crear tarjeta"
      >
        <i class="far fa-address-card"></i>Crear tarjeta
      </button>
      <div class="form__share--message js-form__share--message">
        <h3 class="form__box__title h3 txt-lg js-created">La tarjeta ha sido creada:</h3>
        <a
          class="card-link js-card-link txt-bright txt-xs"
          target="_blank"
          title="Link a la nueva tarjeta"
          >Link a la nueva tarjeta</a
        >

        <a
          class="twitter-share-button js-twitter share-twitter txt-wh txt-fsec txt-sm"
          target="_blank"
        >
          <i class="fab fa-twitter"></i> Compartir en twitter</a
        >
      </div>
    </div>
  </fieldset>
</form>
