<main class="landing txt-fsec" role="main">
  <img
    class="landing__img"
    src="./assets/images/Catrinas-7.png"
    alt="Page Logo"
  />
  <section class="landing__intro">
    <h1
      class="landing__intro__title txt-bright txt-xl txt-fpri"
      aria-label="Crea tu tarjeta"
    >
      Crea tu tarjeta de visita
    </h1>
    <p class="landing__intro__text txt-dark">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
  </section>
  <section class="landing__icons txt-light">
    <ul class="landing__icons__list">
      <li class="landing__icons__item design">
        <i class="far fa-object-ungroup icon"></i>
        <p class="landing__icons__text">Diseña</p>
      </li>
      <li class="landing__icons__item fill">
        <i class="far fa-keyboard icon"></i>
        <p class="landing__icons__text">Rellena</p>
      </li>
      <li class="landing__icons__item share">
        <i class="fas fa-share-alt icon"></i>
        <p class="landing__icons__text">Comparte</p>
      </li>
    </ul>
  </section>
  <div class="landing__button">
    <a
      href="./cards.html"
      class="landing__button__link txt-md txt-wh txt-up"
      title="Make your card!"
      >Comenzar</a
    >
  </div>
</main>
