<section class="preview">
    <div class="preview__box">
        <button class="preview__btn txt-xs txt-up txt-fsec js-reset" type="reset" title="Reset"><i class="far fa-trash-alt"></i><span
                class="preview__btn__reset">Reset</span></button>
        <article class="preview__card js-palette ">
            <div class="preview__card__title">
                <div class="preview__card__title__inner txt-fter">
                    <h2 class="preview__card__title__name js-name js-preview-name">Nombre Apellido</h2>
                    <h3 class="preview__card__title__job txt-md txt-light js-job js-preview-job">Front-end developer</h3>
                </div>
            </div>
            <div class="preview__card__box js__profile-image ">
                <img class="preview__card__box__img"
                    src="https://quizlet.com/cdn-cgi/image/f=auto,fit=cover,h=200,onerror=redirect,w=240/https://o.quizlet.com/-eqTyjYDzs5teZgDoQi9aQ.jpg"
                    alt="Imagen" title="Imagen"></a>
            </div>
            <nav class="preview__card__sm" role="navigation">
                <ul class="preview__card__sm__list">
                    <li class="preview__card__sm__list__icon"><a class="preview__card__sm__list__icon__link mobile js-preview-phone"
                            alt="Telephone" target="_blank" title="Teléfono"><i class="fas fa-mobile-alt"></i></a></li>
                    <li class="preview__card__sm__list__icon"><a class="preview__card__sm__list__icon__link email js-preview-email"
                            alt="Email" target="_blank" title="Email"><i class="far fa-envelope"></i></a></li>

                    <li class="preview__card__sm__list__icon"><a class="js-preview-linkedin preview__card__sm__list__icon__link linkedin"
                         alt="Linkedin" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

                    <li class="preview__card__sm__list__icon"><a class=" js-preview-github preview__card__sm__list__icon__link github"
                            alt="Github" title="Github" target="_blank"><i class="fab fa-github-alt"></i></a></li>
                </ul>
            </nav>
        </article>
    </div>
</section>