// Fonts

$font__primary: "Merriweather", serif;
$font__secondary: "Open Sans", sans-serif;
$font__tertiary: "Montserrat", sans-serif;

// Colors

$colorBlack: #000000;

//Primary
$colorPrimary: #e17334;
$colorPrimaryDull: #e1733436;

//Secondary
$colorSecondaryLight: #a2deaf;
$colorSecondaryMidtone: #438792;
$colorSecondaryDark: #114e4e;

//Tertiary
$colorTertiaryLight: #ffffff;
$colorTertiaryLightMid: #f5f5f5;
$colorTertiaryMidtoneLight: #d5d5d5;
$colorTertiaryMidtone: #d8d8d8;
$colorTertiaryMidtoneDark: #dde9ed;
$colorTertiaryDarkLight: #bfcdd0;
$colorTertiaryDarkMidtone: #6b6b6b;
$colorTertiaryDark: #54585a;

// Design palette

//Option 2
$colorOptionSecondDark: #420101;
$colorOptionSecondMidtone: #bd1010;
$colorOptionSecondLight: #e95626;

//Option 3
$colorOptionThirdDark: #3e5b65;
$colorOptionThirdMidtone: #eab052;
$colorOptionThirdLight: #a0c0cf;

//Option 4
$colorOptionFourthDark: #5e1886;
$colorOptionFourthMidtone: orange;
$colorOptionFourthLight: #b082ee;
