[placeholder] {
  padding: 3px 0px 7px 9px;
  font-size: 14px;
  font-family: $font__secondary;
}
input:focus {
  outline: $colorSecondaryDark solid 1.5px;
}
// Font Styles

// Weight

.bold {
  font-weight: 600;
}

// Family
.txt-fpri {
  font-family: $font__primary;
}
.txt-fsec {
  font-family: $font__secondary;
}
.txt-fter {
  font-family: $font__tertiary;
}

// Size
.txt-xs {
  font-size: 12px;
}
.txt-sm {
  font-size: 14px;
}
.txt-md {
  font-size: 16px;
}
.txt-lg {
  font-size: 18px;
}
.txt-xl {
  font-size: 19.2px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}

//Color
.txt-lighter {
  color: $colorTertiaryDarkMidtone;
}
.txt-light {
  color: $colorTertiaryDark;
}
.txt-dark {
  color: $colorSecondaryDark;
}
.txt-bright {
  color: $colorPrimary;
}
.txt-wh {
  color: $colorTertiaryLight;
}

// Transform
.txt-up {
  text-transform: uppercase;
}

// Margin

.m-top {
  margin-top: 25px;
}
