.form__share {
  text-align: center;

  &--container {
    // interactive show/hide
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: ease 0.5s;
  }

  &--button {
    width: 199px;
    height: 50px;
    background-color: $colorPrimary;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    margin: 30px 0px;
    cursor: pointer;

    &:hover {
      background-color: $colorTertiaryDarkMidtone;
    }
    & .fa-address-card {
      margin-right: 9px;
    }
  }

  &--message {
    display: none;
  }
}

.twitter-share-button {
  padding-top: 5px;
}
