.form {
  padding: 20px 0 30px 0;
  @media (min-width: 768px) {
    padding: 0;
  }
  &__data {
    display: flex;
    flex-direction: column;
    padding-right: 1px;
    padding-left: 1px;

    // interactive show/hide
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: ease 1s;

    &__input {
      display: flex;
      flex-direction: column;
      border: $colorSecondaryLight 1px solid;
      margin-top: 7px;
      margin-bottom: 20px;
      height: 30px;
      width: 100%;
    }
    &__image {
      &__input {
        display: none;
      }
      &__buttonsbox {
        display: flex;

        & .hiddenField {
          display: none;
        }
      }
      &__btn {
        width: 140px;
        height: 30px;
        background-color: $colorPrimary;
        border-style: none;
        border-radius: 3px;
        margin-top: 7px;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
          background-color: $colorTertiaryDark;
        }
      }
      &__preview {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        border: $colorSecondaryLight 1px solid;
        margin-top: 8px;
        margin-left: 20px;
      }
    }
    & [type="file"] {
      color: transparent;
    }
  }
}

.column {
  margin: 0px 20px 0px 20px;
  padding: 10px 0 10px 0;
  border-bottom: $colorTertiaryMidtone solid 1px;
  @media (min-width: 768px) {
    margin-left: 40px;
    margin-right: 30px;
  }
}
