.preview {
  height: 457px;
  border-radius: 6px;
  background-image: url(../../assets/images/orange-flowers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    min-height: 700px;
    height: 100%;
  }
  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    cursor: pointer;
    width: 75px;
    height: 30px;
    margin-right: 160px;
    // transform: translateX(-83px);
    background-color: $colorTertiaryDarkLight;
    border: solid 1px $colorTertiaryLight;
    border-radius: 15px;
    margin-bottom: 20px;
    color: $colorTertiaryDark;

    &__reset {
      padding-left: 8px;
    }

    &:hover {
      background-color: $colorTertiaryDarkMidtone;
      color: $colorTertiaryLight;
      transition: 0.8s;
      animation: shake 0.5s;
    }
  }

  &__card {
    background-color: $colorTertiaryLight;
    width: 240px;
    height: 329px;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 73px;
      padding-bottom: 12px;

      &__inner {
        height: 42px;
        border-left: solid 5px;
      }

      &__name {
        margin-left: 15px;
        font-size: 18px;
        font-weight: 700;
      }
      &__job {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 10px;
        margin-left: 15px;
        font-weight: 600;
      }
    }

    &__box {
      width: 240px;
      height: 200px;
      background-image: url(https://quizlet.com/cdn-cgi/image/f=auto,fit=cover,h=200,onerror=redirect,w=240/https://o.quizlet.com/-eqTyjYDzs5teZgDoQi9aQ.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &__img {
        display: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.preview__card__sm {
  &__list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-right: 50px;
    margin-left: 11px;
    &__icon {
      padding-left: 0px;
      padding-top: 4px;
      border-radius: 16px;
      width: 32px;
      height: 32px;
      border: 2.2px solid $colorSecondaryLight;

      & .mobile {
        padding-left: 8px;
      }

      & .linkedin {
        padding-left: 6px;
      }
      & .mail {
        padding-left: 5px;
      }

      & .github {
        padding-left: 5px;
      }

      &__link {
        font-size: 18px;
        padding: 6px 10px 4px 4px;
      }
    }
  }
}
